.cat_head{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
font-size: 18px;
line-height: 27px;

text-align: center;

color: #5E6282;
}

 .category{
 margin-bottom: 123px;
    
} 
.cat_img{
    z-index: -1;
    float: right;
}

.catsubhead{
    font-family: 'Volkhov', serif;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 64px;

text-align: center;
text-transform: capitalize;


color: #14183E;

}
.card-cat{
    max-width: 230px;
    min-width: 200px;
    background: #FFFFFF;
box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
border-radius: 36px;
border: none;
}
.ccard-title{
    font-family: 'Open sans', sans-serif;
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #1E1D4C;
}

.ccard-text {
    font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #5E6282;


}

.active {
    position: relative;
    z-index: -1;
    left: 0px;
    top: -60px;
}


@media screen and (max-width:700px) {
    .active{
        left: 15vw;
    }
    .catsubhead{
        font-size: 28px;
        line-height: 32px;
    }
    .category{
        margin-bottom: 0px;
    }
    .cat_img{
        width: 20vw;
        height: 20vh;
    }
}
