 .subscribe {
    /* width: 1170px;
height: 407px;

background: #DFD7F9;
opacity: 0.2;
border-radius: 20px 129px 20px 20px;
/* //transform: matrix(-1, 0, 0, 1, 0, 0);  */
margin-bottom: 140px;
} 
.subs_img{
    z-index: -1;
    width: 1250px;
}

.subs_fold{
    position: absolute;
    top: 10px;
    left: 280px;
}
.sub_head{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 33px;
line-height: 54px;

text-align: center;

color: #5E6282;
}

.sub_inp{
   max-width: 421px;
    height: 68px;
    border-radius: 10px;
    background: #fff;
font-family:' FontAwesome';
border: none;
}

.sub_btn {
    width: 180px;
    height: 68px;
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    border-radius: 10px;
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 23px;
text-align: center;
margin-left: 24px;


color: #FFFFFF;

}

@media screen and (max-width:1200px) {
    .subs_img{
        width: 90vw;
    }
    .subs_fold{
        left: 20px;
        position: relative;
        top:-150px;
    }
    .sub_inp{
        border: 2px solid black;
        height: 40px;
    }
    .sub_btn{
        height: 40px;
        align-self: center;
        width: 210px;
        text-align: center;
        margin: auto;
    }

    .subscribe{
        margin-bottom: 0px;
    }
    .sub_head{
        font-size: 23px;
line-height: 26px;
    }
}
